<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
     <title>Flask Reactor</title>
</head>

<body>
     <div class="base">
          <div class="base__content">
               <div class="navigation">
                    <a class="navigation__link" href="{{ url_for('home')}}">Home</a> |
                    <a class="navigation__link" href="{{ url_for('daily')}}">Daily Element</a>
                    |
                    <a class="navigation__link" href="{{ url_for('chem')}}">Periodic Table</a> |
                    <a class="navigation__link" href="{{ url_for('industry')}}">Industry</a> |
                    <a class="navigation__link" href="{{ url_for('reactor')}}">Flask Reactor</a>
               </div>
               <div>
                    <img class="theme__link--day" src="{{url_for('static', filename='img/moon.png')}}" alt="theme-day" />
                    <img class="theme__link--night" src="{{url_for('static', filename='img/day.png')}}" alt="theme-night"
                         style="display: none" />
               </div>
          </div>

          {% block body %}{% endblock %}
     </div>
     <script src="{{url_for('static', filename='js/index.js')}}"></script>
     {% block script %}{% endblock %}
</body>

</html>