{% extends 'base.html' %} {% block body %}
      <div id="chem__Container">
            <br />
            <br />
            <br />
            <img id="chem_TablePNG" class="chem_TablePNGDay" src="{{url_for('static', filename='img/periodic_table.png')}}"
              alt="table" />
            <br />
            <br />
            <a id="chem__View" href="{{url_for('static', filename='img/periodic_table.png')}}" target="_blank">view</a>
            <br />
            <br />
            <br />
            <hr id="chem__Separator" />
      </div>
<br />
      <img id="chem__Image" src="{{url_for('static', filename='img/arrow.png')}}" alt="arrow-chem" />
      <p>scroll</p>
      <section id="chem__CarouselSection" style="max-width: 100px;" class="chem__CarouselDay">
            {% for i in elements %}
            <div class="chem__CarouselDayContent chem-square"><h1>{{i['symbol']}}</h1><p>{{i['element']}}</p></div>
            {% endfor %}
      </section>

<hr id="chem__Separator" />
<br/>
<div id="chem__Info"></div>
{% endblock %} {% block script %}

<script>
  const periodicTableImage = document.getElementById("chem_TablePNG");
  const viewPeriodicTableLink = document.getElementById("chem__View");
  const elementSquare = document.querySelectorAll('.chem-square');
  const elementInfoResponse = document.getElementById('chem__Info');
  const responseNameTag = document.createElement("h2");
  const responseBreakTag = document.createElement('BR');
  const responseCategoryTag = document.createElement('p');
  const responseMeltingTag = document.createElement('p');
  const responseBoilingTag = document.createElement('p');
  const responsePhaseTag = document.createElement('p');
  const responseWeightTag = document.createElement('p');
  const responseAtomicNumberTag = document.createElement('p');
  const responseUnorderedListTag = document.createElement('ul');


  elementSquare.forEach(element => {
    element.addEventListener('click', () => {
      const el = element.firstElementChild.innerHTML;
      elementInfoResponse.innerHTML = ""
      responseUnorderedListTag.innerHTML = ""
      fetch(`http://localhost:5000/chem/${el}`, {
    headers: { "Content-Type": "application/json" },
  })
    .then((res) => {
      return res.json();
    })
    .then((res) => { 
      const categoryText = `Element type: ${res.class.charAt(0).toUpperCase() + res.class.slice(1)}`;
      const nameText = res.name.charAt(0).toUpperCase() + res.name.slice(1);
      const meltingText = `Melting point: ${res['melting point']} F`;
      const boilingText = `Boiling point: ${res['boiling point']} F`;
      const phaseText = `${res.phase.charAt(0).toUpperCase() + res.phase.slice(1)}`
      const weightText = `Atomic weight: ${res.weight} Daltons`
      const atomicNumberText = `Protons: ${res['atomic number']}`
      responseNameTag.innerText = nameText;
      responseNameTag.style.textDecoration = 'underline';
      responseBreakTag.innerHTML = '<br/>';
      responseCategoryTag.innerText = categoryText;
      responseMeltingTag.innerText = meltingText;
      responseBoilingTag.innerText = boilingText;
      responsePhaseTag.innerText = phaseText;
      responseWeightTag.innerText = weightText;
      responseAtomicNumberTag.innerText = atomicNumberText;
      const tagsArray = [responseAtomicNumberTag, responseCategoryTag, responseMeltingTag, responseBoilingTag, responseWeightTag];
      tagsArray.forEach((tag) => {
        let listTag = document.createElement('li');
        listTag.appendChild(tag);
        responseUnorderedListTag.appendChild(listTag);
      })
      responseUnorderedListTag.style.listStyleType = 'square'
      responseUnorderedListTag.style.display = 'inline-block'
      responseUnorderedListTag.style.textAlign = 'left'
      responseUnorderedListTag.style.marginBottom = '2rem'
      responseNameTag.setAttribute("id", "chem__ElementInfo");     
      if (document.readyState === "complete" || document.readyState === "loaded") {
      elementInfoResponse.appendChild(responseNameTag);
      elementInfoResponse.appendChild(responsePhaseTag);
      elementInfoResponse.appendChild(responseBreakTag);
      elementInfoResponse.appendChild(responseUnorderedListTag);
      }
      
    })
    .catch((e) => console.log("chem template error: ", e));
    })
  })


  periodicTableImage.addEventListener("mouseover", () => {
    let themeColor = document.getElementById("base__Template");
    const themeComputedColor = getComputedStyle(
      themeColor,
      null
    ).getPropertyValue("background-color");
    if (themeComputedColor === "rgb(238, 238, 238)") {
      viewPeriodicTableLink.classList.add("chem__ViewDay");
      let nightThemeCheck = document.querySelector(".chem_TablePNGNight");
      if (nightThemeCheck) {
        periodicTableImage.classList.remove("chem_TablePNGNight");
        periodicTableImage.classList.add("chem_TablePNGDay");
      }
    } else if (themeComputedColor === "rgba(28, 43, 45, 0.9)") {
      viewPeriodicTableLink.classList.add("chem__ViewNight");
      let dayThemeCheck = document.querySelector(".chem_TablePNGDay");
      if (dayThemeCheck) {
        periodicTableImage.classList.remove("chem_TablePNGDay");
        periodicTableImage.classList.add("chem_TablePNGNight");
      }
    }
  });


  periodicTableImage.addEventListener("mouseleave", () => {
    if (viewPeriodicTableLink.classList.value === "chem__ViewNight") {
      viewPeriodicTableLink.classList.remove("chem__ViewNight");
    } else if (viewPeriodicTableLink.classList.value === "chem__ViewDay")
      viewPeriodicTableLink.classList.remove("chem__ViewDay");
  });


</script>

{% endblock %}
</div>