{% extends 'base.html' %} {% block body %}
<div class="daily">
  <div class="daily__heading">
    <h3>- ELEMENT OF THE DAY -</h3>
  </div>

  <br />
  <div class="daily__body">
    <table style="width: 90%">
      <tr>
        <td class="col-1-of-2">
          <p>Element</p>
        </td>
        <td class="col-2-of-2">
          <p p>{{element['name']}}</p>
        </td>
      </tr>
      <tr>
        <td class="col-1-of-2">
          <p>Symbol</p>
        </td>
        <td class="col-2-of-2">
          <p>{{element['symbol']}}</p>
        </td>
      </tr>
      <tr>
        <td class="col-1-of-2">
          <p>Melting point</p>
        </td>
        <td class="daily-gridmelting">
          <p class="daily-gridmelting__text">
            {{element['melting point']}} F
          </p>
          <img class="daily-gridmelting__image daily-gridmelting__image--day daily-icon button button--day"
            src="{{url_for('static', filename='img/toggleday.png')}}" alt="toggle-day-melting" />
          <img class="daily-gridmelting__image daily-gridmelting__image--night daily-icon button button--night"
            src="{{url_for('static', filename='img/togglenight.png')}}" alt="toggle-night-melting"
            style="display: none" />
        </td>
      </tr>
      <tr>
        <td class="col-1-of-2">
          <p>Boiling point</p>
        </td>
        <td class="daily-gridboiling">
          <p class="daily-gridboiling__text">
            {{element['boiling point']}} F
          </p>
          <img class="daily-gridboiling__image daily-gridboiling__image--day daily-icon button button--day"
            src="{{url_for('static', filename='img/toggleday.png')}}" alt="toggle-day-boiling" />
          <img class="daily-gridboiling__image daily-gridboiling__image--night daily-icon button button--night"
            src="{{url_for('static', filename='img/togglenight.png')}}" alt="toggle-night-boiling"
            style="display: none" />
        </td>
      </tr>
      <tr>
        <td class="col-1-of-2">
          <p>Category</p>
        </td>
        <td class="col-2-of-2">
          <p>{{element['class']}}</p>
        </td>
      </tr>
      <tr>
        <td class="col-1-of-2">
          <p>Period</p>
        </td>
        <td class="col-2-of-2">
          <p>{{element['period']}}</p>
        </td>
      </tr>
      <tr>
        <td class="col-1-of-2">
          <p>Weight</p>
        </td>
        <td class="col-2-of-2">
          <p>{{element['weight']}} Daltons</p>
        </td>
      </tr>
      <tr>
        <td class="col-1-of-2">
          <p>Atomic number</p>
        </td>
        <td class="col-2-of-2">
          <p>{{element['atomic number']}}</p>
        </td>
      </tr>
      <tr>
        <td class="col-1-of-2">
          <p>Room Temp</p>
        </td>
        <td class="col-2-of-2">
          <p>{{element['phase']}}</p>
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  const tempToggleButton = document.querySelectorAll(".daily-icon");
  const dailyContainer = document.querySelector(".daily");
  const dateTag = document.createElement("p");
  let tagArray = dailyContainer.childNodes;
  let todaysDate = new Date();
  let day = String(todaysDate.getDate()).padStart(2, "0");
  let month = String(todaysDate.getMonth() + 1).padStart(2, "0");
  let year = todaysDate.getFullYear();
  todaysDate = month + "/" + day + "/" + year;
  dateTag.innerText = todaysDate;
  tagArray[1].appendChild(dateTag);
  tempToggleButton.forEach((item) =>
    item.addEventListener("click", () => {
      const temp = item.parentElement.innerText.split(" ").join("");
      fetch(`https://flaskreactor.herokuapp.com/tempconvert/${temp}`, {
        headers: { "Content-Type": "application/json" },
      })
        .then((res) => {
          return res.json();
        })
        .then((res) => {
          if (res.split(" ")[1] === "C") {
            item.parentElement.firstElementChild.innerText = res;
          } else if (res.split(" ")[1] === "F") {
            item.parentElement.firstElementChild.innerText = res;
          } else {
            const error = new Error("There was an error converting the temp");
            throw error;
          }
        })
        .catch((e) => console.log("chem template error: ", e));
    })
  );
</script>

{% endblock %}