{% extends 'base.html' %} {% block body %}
<div class="industry">
  <div class="industry-column  industry-column__1">
    <h3 class="industry-column__title">Recent Articles</h3>
    {% for item in news %}
    <a class="industry-column__link" href="{{item[1][1]}}" target="_blank">> {{item[0][1]}}</a>
    <hr class="separator" />
    {% endfor %}
  </div>
  <div class="industry-column  industry-column__2">
    <br/>
    <div class="industry-column__search news">
      <input class="news__input" type="text" value="" placeholder="search google" />
      <button class="news__button">Search news</button>
    </div>
    <br/>
    <hr/>
    <br/>
    <div class="industry-column__companies companies">
      <h2>Industry Leaders</h2>
      <ul class="companies__list">
        <li>
          <a href="https://www.solvay.com/en/" target="_blank" alt="solvay-tag">Solvay</a>
        </li>
        <br />
        <li>
          <a href="https://www.dow.com/en-us" target="_blank" alt="dow-tag">Dow</a>
        </li>
        <br />
        <li>
          <a href="https://www.basf.com/us/en.html" target="_blank" alt="basf-tag">BASF</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock %} {% block script %}

<script>
  const searchInput = document.querySelector(".news__input");
  const searchButton = document.querySelector(".news__button");
  const newsLinks = document.querySelectorAll('.industry-column__link');
  searchButton.addEventListener("click", () => {
    window.open(`https://google.com/search?q=${searchInput.value}`);
    searchInput.value = "";
  });
  newsLinks.forEach(link => {
    link.addEventListener('mouseover', () => {
      link.classList.add("industry-column__link--toggle");
    })
  })

</script>

{% endblock %}